@media screen and (min-width: 600px){
    .main_frame{
        width: 100%;
    }

    .date_container{
        font-size: var(--text) !important;
    }

    :root {
        --light-blue: #6184C7;
        --gray: #CACACA;
        --h2-size: 4rem;
        --h3-size: 3rem;
        --text: 2.2rem;
    }
}