@media screen and (min-width:1200px){

    .login-background{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        height: 100%;
    }

    .banner_login_container{
        width: 60rem;
        justify-content: center;
        align-items: center;
        margin-left: 5rem;
    }

    .banner_login_container img{
        width: 40rem;
    }

    .form_container{
        width: 50rem;
        margin-left: 5rem;
    }

    .formulario{
        width: 55rem;
        height: 55rem;
    }
    
    .formulario button{
        height: 8rem;
        border-radius: 2rem;
    }

    .formulario input{
        margin-top: 0;
    }
}