@media screen and (min-width: 1000px){
    html{
        font-size: 10px;
    }

    .main_container{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;   
    }

    .main_frame{ 
        width: 100rem;
    }

    nav{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .desk_mode_1{
        display: none;
    }
    .desk_mode_2{
        display: flex;
        background-color: white;
    }
}