@media screen and (min-width:1000px){

    .date_container{
        font-size: 2.2rem !important;
    }

    .title_container{
        width: 100%;
    }

    .circle_container{
        width: 15rem;
        height: 15rem;
    }

    .big_elements{
        width: 30rem;
        height: 30rem;
        padding-left: 6rem;
    }

    .big_elements img{
        width: 10rem;
        height: 10rem;
    }

    .small_elements{
        width: 30rem;
        height: 16rem;
    }

    .small_elements img{
        width: 6rem;
        height: 6rem;
    }

    :root {
        --light-blue: #6184C7;
        --gray: #CACACA;
        --h2-size: 5.5rem;
        --h3-size: 4.5rem;
        --text: 3rem;
    }
}