@media screen and (min-width:1000px){

    .main_frame{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        width: 100%;
        justify-content: space-evenly;
    }

    .date_container{
        font-size: 2.2rem !important;
    }

    .special_container{
        display: flex;
        flex-direction: column;
        width: 80rem;
    }

    .circle_container{
        width: 7rem;
        height: 7rem;
    }

    .big_element_container{
        width:100%;
    }

    .big_elements{
        margin: 0px;
        width: 20rem;
        height: 20rem;
        padding-left: 3rem;
    }

    .big_elements img{
        width: 10rem;
        height: 10rem;
    }

    #main_cont{
        width: 80rem;
        height: 60rem;
        padding: 0;
        margin-top: 0;
    }
    
    .small_elements{
        width: 15rem;
        height: 12rem;
    }

    .small_elements img{
        width: 4rem;
        height: 4rem;
    }

    :root {
        --light-blue: #6184C7;
        --gray: #CACACA;
        --h2-size: 4rem;
        --h3-size: 3rem;
        --text: 2.5rem;
        --small_elementsfs: 2rem;
    }
}