@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
*{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    width: 100%;
    background: linear-gradient(35.54deg, #2855AE -7.25%, #7292CF 90.75%); 
    overflow-x: hidden;
}

html{
    font-size: 10px;
}

.background_login {
    width: 100%;
    margin: 0 auto;
    padding-top: 6.7rem;
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.vector_img {
    width: 30rem;
    height: 15rem;
    align-self: flex-end; 
    margin-top: 10rem;
    margin-right: 2rem;
    z-index: 1;
}


.form_design {
    background-color: white;
    width: 100%;
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
    margin: 0 auto;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-top: -3rem;
    height: 100%;
    padding-top: 2rem;
}

.form_design h2 {
    font-size: var(--size-h1);
    margin-bottom: 0px;
    margin-left: 2rem;
    color: var(--gris1);
    line-height: 48px;
    font-weight: bolder;
    width: var(--title_width);
}

.form_design span {
    font-size: var(--size-h3);
    margin-top: 0px;
    margin-bottom: 3rem;
    margin-left: 2rem;
    color:#777777;
    width: var(--title_width);
}

.contenedor_inputs{
    margin:0 auto;
    margin-top: 2rem;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.label_design{
    font-size: 1.2rem;  
    align-self: flex-start;
    color: var(--gris2);
}

.input_design {
    border: none;
    border-bottom: 1px solid var(--gris2) ;
    font-size: var(--size-parrafo);
    width: 100%;
    color: var(--gris3);
    align-self: center;
}

.btn_design {
    margin: 10px 0px;
    height: 4.4rem;
    background: linear-gradient(35.54deg, #2855AE -7.25%, #7292CF 90.75%);
    border-radius: 1rem;
    color: white;
    font-size: var(--size-h3);
    border-style: none;
    cursor: pointer;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-self: center;
    font-weight: bolder;
}

.btn_design img{
    position: absolute;
    right: 5rem;
}

.message{
    text-decoration: none;
    font-size: var(--size-parrafo);
    color: var(--gris3);
    align-self: flex-end;
    margin-right: 2rem;
}

.container_{
    width: 50%;
    background: linear-gradient(35.54deg, #2855AE -7.25%, #7292CF 90.75%);
    margin: 0 auto;
}

:root {
    --gris3: #0f0f0f;
    --gris1: #3A3A3A;
    --gris2: #A5A5A5;
    --size-h1: 3.5rem;
    --size-h3: 1.9rem;
    --size-parrafo: 1.5rem;
    --title_width: 16rem;
}

@media screen and (min-width:640px){

    .vector_img{
        width: 40rem;
        height: 20rem;
        margin-right: 6rem;
    }

    .form_design{
        border-radius: 4rem;
        padding-top: 5rem;
    }

    .form_design h2{
        margin-left: 4rem;
    }

    .form_design span{
        margin-left: 4rem;
        margin-bottom: 2rem;
    }

    .label_design{
        font-size: 2rem;
    }

    .btn_design{
        margin-top: 3rem;
        height: 7rem;
    }
    .message{
        width: 20rem;
        margin: 5rem 0;
    }

    :root {
        --gris3: #0f0f0f;
        --gris1: #3A3A3A;
        --gris2: #A5A5A5;
        --size-h1: 4.5rem;
        --size-h3: 2.9rem;
        --size-parrafo: 2.5rem;
        --title_width: 30rem;
    }
}