@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    font-family: 'Source Sans Pro', sans-serif;
}

html{
    font-size: 10px;
}

body{
    height: 100%;
    background-color: var(--light-blue);
    display: flex;
    flex-wrap: nowrap;
    margin: 0px;
}

header{
    color:white;
    margin-right: 10px;
}

.main_frame {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0px auto;
}

.header_container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 10rem;
    justify-content: space-evenly;
    align-items: center;
    margin: auto 0px;
    margin-bottom: 20rem;
}


.title{
    font-size: var(--h2-size);
    margin-bottom: 0;
}

.title_container span{
    font-size: var(--h3-size);
}

.circle_container {
    width: 5rem;
    height: 5rem;
    align-self: flex-end;
    border: white 3px solid;
    border-radius: 50rem;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 15rem;
}

.circle_container div{
    background-color: var(--gray);
    width: 100%;
    height: 100%;
    border-radius: 100%;
    
}

.date_container {
    width: 10rem;
    height: 3rem;
    background-color: white;
    color: var(--light-blue);
    font-weight: 400;
    font-size: var(--text);
    display: inline-block;
    border-radius: 20px;
    text-align: center;
}

.big_element_container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;  
}

.big_elements {
    background-color: white;
    width: 15rem;
    height: 20rem;
    margin: 5px;
    border: 1px solid var(--light-blue);
    border-radius: 25px;
    z-index:1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
}

.big_elements img {
    margin-top: 1rem;
    width: 8rem;
    height: 8rem;
    align-self: flex-start;
}

.big_elements h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: var(--h2-size);
    line-height: 43px;
    letter-spacing: 0px;
    text-align: left;
}

.big_elements span {
    color: #777777;
    font-size: var(--text)
}

#main_cont {
    background-color: white;
    margin-top: -150px;
    border-radius: 5rem;
    padding-top: 15rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.small_elements {
    background-color: #F5F6FC;
    width: 15rem;
    height: 13rem;
    margin: 1rem;
    border-radius: 15px;
    text-decoration: none; 
    display: flex;
    flex-direction: column;
    color: rgb(51, 50, 50);
}

.small_elements h2 {
    font-size: var(--small_elementsfs);
    margin-top: 0.5rem;
    margin-left: 2rem;
}

.small_elements img {
    width: 4rem;
    height: 4rem;
    margin-top: 2rem;
    margin-left: 2rem;
}


:root {
    --light-blue: #6184C7;
    --gray: #CACACA;
    --h2-size: 3rem;
    --h3-size: 2rem;
    --text: 1.8rem;
    --small_elementsfs: 1.6rem;
}