/*CONFIG*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


*{
    font-family: 'Source Sans Pro', sans-serif;
    flex-shrink: 3;
}

html {
    font-size: 10px;
}

body{
    background: var(--bg-color);
    display: flex;
    margin: 0;
}

.main_container {
    width: 60rem;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
}

/*CUSTOM*/
nav{
    width: 90%;
    margin: 7rem auto;
    margin-bottom: 3rem;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 1rem;
    height: 1.5rem;
    margin-right: 20px;
}

nav span{
    color: white;
}

.con {
    width: 50%;
}

.con span{
    font-size: 2rem;
}

.con img{
    width: 1.7rem;
    height: 1.9rem;
}

.magic_btn {
    background-color: white;
    color: var(--blue-text);
    width: 10rem;
    font-size: var(--text);
    border: none;
    font-weight: bolder;
    text-align: center;
    height: 2.5rem;
    cursor: pointer;
    align-self: flex-end;
}

.magic_btn img {
    width: 1.3rem;
    height: 1rem;
    margin: 0;
    padding-right: 1rem;
}

.main_frame {
    width: 100%;
    height: 100%;
    background-color: white;
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 3rem;
}

.profile_info_cont {
    width: 95%;
    border-radius: 2rem;
    border: 1px solid #2855AE;
    margin-top:20px;
    margin-bottom: 3rem;
    margin: 3rem auto;
    align-self: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.img_container {
    background-color: #CACACA;
    width: 6rem;
    height: 6rem;
    display: inline-block;
    border-radius: 0.7rem;
    margin-left: 2rem;
}
.subtitle{
    font-size:var(--text);
}
.subtitle_{
    font-size: var(--text);
    color: var(--gray-text2);
    font-weight: 400;
}

.icon_size {
    margin-right:1rem;
    width: 2rem;
    height: 2rem;
}


.container_2_elements {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 3;
    margin: 2rem auto;
    align-self: center;
    justify-content: space-evenly;
    align-items: center;
}

.small_container {
    width: 43%;
    margin: 2rem 0;
}

.small_container span {
    display: block;
    font-size: var(--text);
    color:  var(--gray-text);
}

.small_container input {
    border: none;
    border-bottom: 2px solid #E1E3E8;
    font-size: var(--text);
    margin-top: 1rem;
    width: 90%;
    color: black;
    font-weight: bold;
}

.small_container img {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
}

.big_container {
    width: 90%;
    align-self: center;
    margin: 10px auto;
}

.big_container span {
    display: block;
    font-size: var(--text);
    color:  var(--gray-text);
}

.big_container input {
    border: none;
    border-bottom: 2px solid #E1E3E8;
    font-size: var(--text);
    margin-top: 1rem;
    width: 96%;
    color: black;
    font-weight: bold;
}


.big_container img {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
}

:root {
    --bg-color:linear-gradient(313.78deg, #2855AE -3.15%, #7292CF 100%);
    --blue-text: #6688CA;
    --gray-text: #A5A5A5;
    --gray-text2:#777777;
    --black-text:#323643;
    --title: 3rem;
    --subtitle: 2.5rem;
    --subtitle-small:2.5rem;
    --text: 1.5rem;
    --content: 1rem;
}