@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

*{
    font-family: 'Source Sans Pro', sans-serif;
}
.login-background {
    background: linear-gradient(35.54deg, #2855AE -7.25%, #7292CF 90.75%);
    padding-top: 6.7rem;
}

.banner-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-login img{
    width: 29.5rem;
    align-self: flex-end;
}
.banner-login h2 {
    color: #fff;
    font-size: var(--size-h1);
    font-weight: 600;
}
.banner-login span {
    font-size: var(--size-h3);
    font-weight: 300;
    color: #fff;
}


.formulario-login {
    background-color: #fff;
    border-radius: 4rem 4rem 0rem 0rem;
}

.formulario {
    width: 100%;
    margin: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.formulario__label {
    font-size: 1.2rem;
    color: var(--gris3);
    margin-bottom: 3.5rem;

    display: flex;
    flex-direction: column;
}

.formulario__label input {
    width: 90%;
    height: 4rem;
    border: none;

    border-bottom: 1px solid var(--gris3);
    outline: none;
    font-size: var(--size-parrafo);
    align-self: center;
}

.formulario button {
    margin: 10px 0px;
    height: 4.4rem;
    background: linear-gradient(35.54deg, #2855AE -7.25%, #7292CF 90.75%);
    border-radius: 1rem;
    color: #fff;
    font-size: var(--size-parrafo);
    font-weight: 600;
    border-style: none;
    cursor: pointer;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    align-self: center;
    position: relative;
}
.formulario button img {
    width: 2.5rem;
    position: absolute;
    right: 2.8rem;
}

.formulario__label label {
    align-self: flex-start;
    margin-left: 5%;
    margin-top: 10px;
}

.formulario__mensaje {
    color: var(--gris1);
    font-size: var(--size-parrafo);
    margin-top: 2rem;
    align-self: flex-end;
}

:root {
    --gris3: #313131;
    --size-h1:34px;
    --size-h3: 24px;
    --size-parrafo: 16px;
}