<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/movile/loading_page.css">
    <title>Base</title>
</head>
<body class="main_container">
    
    <div class="container_erpschool_img">
        <img src="../static/img/School.png" alt="School" class="school_img">
        <img src="../static/img/ERP.png" alt="ERP" class="erp_img">
    </div>

    <div class="container_vector_img">
        <img src="../static/img/vector.png" alt="lapiz" class="vector_img">
    </div>
</body>
</html>