<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/movile/loginv2.css">
    <link rel="stylesheet" href="../static/css/tablet/loginv2_tablet.css">
    <!-- <link rel="stylesheet" href="../static/css/movile/login.css"> -->
    <title>Login V2</title>
</head>
<body>  
    <section class="background_login">
        <img src="../static/img/vector.png" alt="" class="vector_img">

        <form action="" class="form_design">
            <h2>Hi student</h2>
            <span>Sign in to continue</span>
            
            <div class="contenedor_inputs">
                <label for="" class="label_design">Mobile Number/Email </label>
                <input type="email" class="input_design">
            </div>
            
            <div class="contenedor_inputs">
                <label for="" class="label_design">Password</label>
                <input type="password" class="input_design">
            </div>

            <button class="btn_design">SIGN IN <img src="../static/img/right.png" alt=""></button>
            <a href="" class="message">Forgot password?</a>
        </form>
    </section>
</body>
</html>