<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/template03.css">
    <title>Template 03</title>
</head>
    <body>
            <!--COMPLETED-->
        <div class="container_">

            <header class="container_row">
                <div class="min_container_row">
                    <h2 class="title">Hi Akshay</h2>
                    <span style="font-weight: 10;">Class XI-B | Roll no: 04</span>
                    <br>
                    <span class="date_container">2020-2021</span>
                </div>

                <div class="circle_container">
                    <div></div>
                </div>

            </header>

            <div class="container_row2">
                
                <div class="min_container">
                    <img src="../static/img/template03/ic_attendance.png" alt=""> 
                    <h2 style="font-weight: 600; margin: 0px 10px;">80.39%</h2>
                    <span style="font-weight: 100; margin:0px 10px;">
                        Attendance
                    </span>
                </div>

                <div class="min_container">
                    <img src="../static/img/template03/ic_fees_due.png" alt="">
                    <h2 style="font-weight: bold; margin: 0px 10px">₹6400</h2>
                    <span  style="font-weight: 100; margin:0px 10px;">Fees due</span>
                </div>

            </div>

            <section class="container_row2" id="main_cont"></section>

        </div>
    </body>
</html>

<script src="../static/js/template03.js"></script>