<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/general_elements.css">
    <link rel="stylesheet" href="../static/css/template04.css">
    <title>Document</title>
</head>
<body>
    <section class="phone_size"> 

        <nav class="container large row between-content">
            <div class="container row center-content xsmall con">
                <img src="../static/img/template04/back_Arrow.png" alt="Arrow">
                <span class="subtitle">My Profile</span>
            </div>
            <button class="magic_btn rounded"><img src="../static/img/template04/ic_checked.png" alt="checked">DONE</button>
        </nav>

        <section class="main_frame">
            
            <div class="large container row profile_info_cont">
                <div class="img_container">
                </div>
                <div class="container column medium">
                    <h2 class="subtitle">Akshay Syal</h2>
                    <span class="subtitle_">Class XI-B | Roll no:4</span>
                </div>
                <img src="../static/img/template04/ic_camera-2.png" alt="camera" class="icon_size">
            </div>

            <div class="container_2_elements" id="container_elements">
                
                <div class="small_container">
                    <span>Adhar No.</span>
                    <input type="text" value="1234 4325 4567 1234">
                </div>
                
                <div class="small_container">
                    <span>Academic Year</span>
                    <input type="text" value="2020-2021">
                </div>

                <div class="small_container">
                    <span>Admission Class</span>
                    <input type="text" value="VI">
                    <img src="../static/img/template04/lock.png" alt="">
                </div>
                
                <div class="small_container">
                    <span>Old Admission No.</span>
                    <input type="text" value="T00221">
                    <img src="../static/img/template04/lock.png" alt="">
                </div>
                
                <div class="small_container">
                    <span>Date of Admission</span>
                    <input type="text" value="01 Apr 2018">
                    <img src="../static/img/template04/lock.png" alt="">
                </div>

                <div class="small_container">
                    <span>Date of Birth</span>
                    <input type="text" value="22 July 1996">
                    <img src="../static/img/template04/lock.png" alt="">
                </div>

            </div>

        </section>


    </section>

    <script src="../static/js/template04.js"></script>
</body>
</html>